<h1>Coding Skills</h1>

<!-- Notice appears after successfully adding new skill. -->
<% if flash[:notice] %>
  <div class="well">
    <%= flash[:notice] %>
  </div>
<% end %>

<ul>
  <% @skills.each do |skill| %>
    <li><%= link_to skill.name, skill_path(skill) %></li>
  <% end %>
</ul>

<p><%= link_to "Add A Coding Skill", new_skill_path %></p>
