<% if @references.any? %>
  <h3><i>References</i></h3>
  <% @references.each do |reference| %>
      <ul>
        <h4><%= reference.title %></h4>
        <p><%= reference.description %></p>
        <hr>
      </ul>
  <% end %>
<% else %>
  <p>No references have been added yet!</p>
<% end %>

<%= link_to "Add Reference", new_reference_path %>  |
<%= link_to "Close References", root_path %>
