<h1>Welcome to my web development portfolio!</h1>

<h3>Thanks for stopping by! On this website you will find a blog describing my journey to becoming a web developer, as well as a list of skills/projects related to coding.</h3>
